.product {
	background-color: #fff;
	@include rem('max-height', 400px);
	@include rem('min-height', 400px);
	@include rem('padding', 20px 20px 32px 20px);
	@include rem('margin-bottom', 20px);
	overflow: hidden;

	.product__image {
		@include rem('margin-bottom', 20px);
		max-width: 100%;
		max-height: 230px;
	}

	.product__category {
		@include rem('font-size', 12px);
		font-style: italic;
	}

	.product__title {
		@include rem('margin-top', 4px);
		@include rem('margin-bottom', 26px);


		a {
			@include rem('min-height', 40px);
			color: $text-color;
			text-decoration: underline;
		}
	}

	.rating {
		display:flex;
		-webkit-align-items: center;
		align-items: center;
		justify-content: space-around;
		img {
			@include rem('max-height', 12px);
			@include rem('margin-right', 6px);
		}

		.prices {
			margin-left: auto;
			@include rem('font-size', 19px);
			font-weight: bold;
			.old-price {
				@include rem('margin-right', 15px);
				text-decoration: line-through;
			}

			.discount-price {
				color: $brand-primary;
			}
		}
	}
}


